*{
    box-sizing: border-box;
    font-family:"Roboto";
}

body{
  height: 100%;
    
}

.page{
    width: 100vw;
    height: 100vh;
    background-color:#e5e5e5;
    display:flex;
    justify-content: center;
    align-items:center;
}

.room{
    width: 27rem;
    height: 100%;
    background: color #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    
}

.shadow{
    width:100%;
    height: 100%;
    position:absolute;
    top:0px;
    bottom: -1px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);

}
.clear{
    display:none;
}

.top{
    width:100%;
    height:13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    position:absolute;
    top:0px;
    bottom: 80px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
   
    
}
.left{
    width: 75px;
    height: 53;
    margin-top: 16px;
    margin: 15px;

}
.right{
    width: 45px;
    height: 45px;
    margin-top: 18px;
    margin: 15px;
  

}

ul{
    width: 100%;
    height: 73%;
    margin-top:30%;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    
}
ul::-webkit-scrollbar{
    display: none;
}

.gray-box{
    width: 100%;
    margin-top: 2%;
    min-height: 4rem;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color:#DCDCDC;
  
   
}
.white-box{
    width: 100%;
    margin-top: 2%;
    min-height: 4rem;
    display:flex; 
    flex-direction:row;   
    word-break: break-all;
    align-items: center;
    background-color:#FFFFFF;
   
}
.red-box{
    width: 100%;
    min-height: 4rem;
    margin-top: 2%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    background-color:#FFDEDE;
       
}

time{
   
    color:#b2a7a7;
}
b{
    font-weight: bold;
}

.message {
    width: 100%;
    margin: 2%;
    font-size:16px;
    font-weight:400;
    color:#000000;
    line-height: 25px;
    text-align: justify;
    word-break:break-word;
  
   
}

.sidebar{
    width: 14rem;
    height:100%;
    position:absolute;
    top:0;
    right: 0%;
    z-index: 3;
    background-color: #FFFFFF;
   

}
.hidden{
    display:none

}
.contacts-title{
    width: 100%;
    height: 84px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}
.contacts-title h1{
    margin:10%;
    font-weight: 700;
    font-size:16px;
    text-align:center;
  
}
.contacts-options{
    display:flex;  
    flex-wrap: wrap;  
    flex-direction: column;
    align-items: center;
 
    
}
.options{
    width: 95%;
    height: 36px;
    display:flex;  
    align-items: center;
    flex-wrap: wrap;
}

.svg{
   
    width:25px;
    height:25px;

}
.contacts-options  p{
    margin:3%;
    width: 66%;
    display: flex;
    align-items: center;
    font-size:16px;
    
   
}
.chat-status{
    width:100%;
    height: 66px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.chat-status h1{
    font-weight: 700;
    font-size:16px;
    text-align:center;

}

.invisible{
   display:none;
    
}
.invisible2{
    display:none;
     
 }
 

.bottom{
    width:100%;
    height:13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    position:absolute;
    top:87%;
    bottom:-1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}


.messageBox{
   width: 300px;
   margin-left: 17px;   
}

textarea{
     width:299px;
    height: 34px;
    font-size:17px;
    font-weight:400;
    color:#000000;
    border:none;
    resize:none;
    outline:none;
    
}
textarea::placeholder{
    font-weight: 400;
    font-size:18px;
    color:#000000;
    font-style: italic;
}

textarea:focus{
    border:#000000 solid 2px;
    border-radius: 5px;
}
textarea::-webkit-scrollbar{
    display: none;
}
span{
    font-weight: 300;
    font-size:14px;
    color:#000000;

}
.arrowhead{
    width:26px;
    height:26px;
    margin-right:18px;
    margin-bottom:27px;
}

